.container {
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
    background-color: #f9f9f9;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.container h2 {
    color: #333;
}

.container p {
    color: #666;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container ul li {
    color: white; /* Define a cor do texto dos itens da lista como branco */
}